<!DOCTYPE html>
<html>
<head>
	<style> 
	.ph {
		width: 100px;
		height: 20px;
		border: 1px solid black;
	}
	.ps {
		width:100px;
		height:30px;
		border: 2px solid black;
	</style>
	<script type = "text/javascript" src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js">
	</script>
</head>
<body>

	<h2>Employees Form</h2>



	<form>

		Empfirst name: 
		<input type="text" name="Empfirstname" class="ph"><br/>
		<br/>

		EMPlast name:
		<input type="text" name="Emplastname" class="ph">
		<br>
		<br>
		<input type="radio"name="gender"  value="Male">Male
		<input type="radio"name="gender"  value="Female">Female
		<input type="radio"name="gender"  value="other">Other
		<br>
		<br>
		Group category:   
		<select  name="category" id="categoryname"
		class="ph"> 
		<option value="select">select</option>
		<option value="delivery">Delivery</option>
		<option value="business_development">Business Development</option>
		<option value="human resources">Human Resources</option>
		<option value="it admin">IT Admin</option>

	</select>
	<br> <br>
	Designation:

	<select  name="Designation" id="Designation" class="ph">


	</select>
	<br><br>
	Band : 

	<select name="Band" id="Bandname" class="ph">
		<option value="select">select</option>
	</select>
	<br><br>
	Grade:
	<select name="Grade" id="Gradename" class="ph">
		<option value="select">select</option>
	</select>
	<br>
	<br>
	<input type="submit" value="Submit" class="ps";>
</form> 

</body>

<script>
	$(document).ready(function() {

		$("#categoryname" ).change(function() {
			var x = document.getElementById("categoryname").value;

			$('#Bandname').children('option').remove();
			

			$.ajax({
				type: "GET",
				url: "https://api.myjson.com/bins/qiqhk",
				success: function(data){
					console.log(data)
					console.log(x);
					console.log("designation")
					var designations = data[x]['designations']
					console.log(designations);
					console.log('brand');
					var brand = data[x]['brand']
					console.log(brand);
					console.log('grade');
					var grade = data[x]['grade']
					console.log(grade);

					var Designation = document.getElementById("Designation")

					for(var i = 0; i < designations.length; i++) {
						var option = document.createElement('option');
						option.text = option.value = designations[i];
						Designation.add(option, 0);
						
					}

					var Bandname = document.getElementById("Bandname")

					for(var i = 0; i < brand.length; i++) {
						var option = document.createElement('option');
						option.text = option.value = brand[i];
						Bandname.add(option, 0);

					}

					var Gradename = document.getElementById("Gradename")

					for(var i = 0; i < grade.length; i++) {
						var option = document.createElement('option');
						option.text = option.value = grade[i];
						Gradename.add(option, 0);

					}
			}});
		});
	});
</script>
</html>
